body {
	background-color: #11a227;
	font-family: Arial, Helvetica, sans-serif;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1a1de0;
	color: white;
}

tr:nth-child(odd) {
	background-color: #0728c1;
}

tr:nth-child(even) {
	background-color: #5373ea;
}

.mainDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 5em;
	font-size: 2.5rem;
}

.generateDiv, .reportDiv {
	text-align: center;
}

.generateDiv {
	margin-bottom: 3rem;
}

.shortenDiv {
	text-align: left;
}

#urlInput, #shortCodeInput {
	font: inherit;
	font-size: 3rem;
	font-family: monospace;
	font-weight: bold;
	padding: 0.3em;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
	outline: 0;
}

#urlInput:focus, #shortCodeInput:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

#shortenUrlBtn, #reportBtn {
	background-color: #d34;
	padding: 1rem 2rem;
	color: white;
	border: 0;
	margin: 3rem;
	cursor: pointer;
	font-size: 2.5rem;
}

#shortenUrl a {
	color: #d34;
}
